<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台登录</title>
    <link rel="stylesheet" href="/static/intendant/css/style.css">
</head>
<body onkeydown="keyLogin();">
<div class="login-form">
   	<div class="close"> </div>
    <div style="position:absolute;top:8px;left:150px;color:white;">后台登录</div>
   		<div class="head-info">
   			<label class="lbl-1"> </label>
   			<label class="lbl-2"> </label>
   			<label class="lbl-3"> </label>
   		</div>
   			<div class="clear"> </div>
   	<div class="avtar">
   		<img src="/static/intendant/img/avtar.png" />
   	</div>
	<form method="post" action="/admin/login" id="form-login">
        <ul style="margin-top:-15px;padding:0;">
            <li id="userli" class="userli"><i class="iconfont" style="color:white;font-size: 20px;">&#xe600;</i>
    			<input id="username" name="username" type="text" class="text" value="" placeholder="用户名"></li>
            <li id="passli" class="userli"><i class="iconfont" style="color:white;font-size: 20px;">&#xe601;</i>
    			<input id="password" name="password" type="password" value="" placeholder="密码"></li>
        </ul>
        <button type="submit" id="loginsubmit">登录</button>
	</form>
</div>
</body>
<script src="/static/common/js/jquery-1.12.3.min.js"></script>
<script src="/static/common/js/jquery.validate.min.js"></script>
<script src="/static/common/js/jquery.validate.custom.js"></script>
<script src="/static/common/js/layer/layer.js"></script>
<script src="/static/intendant/js/admin.common.js"></script>
<script src="/static/intendant/js/login.js"></script>

<style>
    .layui-layer-tips .layui-layer-content{
        font-family: Tahoma,Helvetica,Arial,'宋体',sans-serif;
        padding: 10px;
        line-height: 24px;
        font-size: 18px;
        /*font-weight:bold;*/
    }
    #verifyli{position: relative;}
    #verifyli .yanzhengma_box{position: absolute;top:2px;right: 2px;}
</style>
</html>
