<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>后台首页</title>
    <link rel="stylesheet" href="/static/common/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/intendant/css/frame.css">
</head>
<body>
<div id="frame_top" style="text-indent:25px;">当前位置&nbsp;&nbsp;<i class="fa fa-hand-o-right" style="display:inline"></i>&nbsp;&nbsp;后台首页
</div>
<div id="frame_content" style="margin-top:24px;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="indexBoxTwo">
        <tbody>
            <tr class="home">
                <td width="49%" border="0" cellspacing="0" cellpadding="0" class="home">
                    <div class="frame_table_list">
                        <table width="100%">
                            <thead>
                            <div class="title">用户信息</div>
                            </thead>
                            <tbody>
                            <tr>
                                <td width="120" align="right">您好&nbsp;：</td>
                                <td>{{.username}}</td>
                            </tr>
                            <!-- <tr>
                                <td width="120" align="right">所属角色&nbsp;：</td>
                                <td>{$groupname}</td>
                            </tr> -->
                            <!--{% for key,val in loginlog if key < 1 %}-->
                            <tr>
                                <td width="120" align="right">项目开发者&nbsp;：</td>
                                <td>河马叔叔[<a style="color: #4169E1">8192332@qq.com</a>]</td>
                            </tr>
                            <tr>
                                <td width="120" align="right">github地址&nbsp;：</td>
                                <td>https://github.com/iteny</td>
                            </tr>
                            <tr>
                                <td width="120" align="right">二次开发手册&nbsp;：</td>
                                <td><a style="color: #4169E1" href="">http://www.hemacms.com/docs</a></td>
                            </tr>
                            <!--{% endfor %}-->
                            <tr>
                                <td width="120" align="right">产品名称&nbsp;：</td>
                                <td>河马CMS[<a style="color: #4169E1" href="#">访问官网</a>]</td>
                            </tr>
                            <tr>
                                <td width="120" align="right">用户类型&nbsp;：</td>
                                <td>开源使用</td>
                            </tr>
                            <tr>
                                <td width="120" align="right">产品版本&nbsp;：</td>
                                <td>0.1</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>

            </tr>
            <tr>
                <td width="49%" border="0" cellspacing="0" cellpadding="0">
                    <div class="frame_table_list">
                        <table width="100%">
                            <thead>
                            <div class="title">系统信息</div>
                            </thead>
                            <tbody>
                                <tr>
                                {{range $k, $v := .info}}
                                <td width="80" align="right">{{$k}}：</td>
                                <td width="200">{{$v}}</td>
                                {{end}}
                                </tr>
                                <tr>
                                {{range $k, $v := .infoone}}
                                <td width="80" align="right">{{$k}}：</td>
                                <td width="200">{{$v}}</td>
                                {{end}}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>


</body>
<script src="/static/common/js/jquery-1.12.3.min.js"></script>
</html>
